:root {
	// --background-color: #141E46;
	--background-color: #1c1e25;
	--text-color: white;
	--border-color: rgba(255, 255, 255, 0.1);
	--hover-color: #acb1c9;
}

html,
body {
	margin: 0;
	font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: var(--background-color);
	color: var(--text-color);
	height: 100vh;
	display: flex;
	justify-content: center;
}

button {
	color: var(--text-color);
	font-family: Poppins;
	font-size: 16px !important;
	font-weight: 300;
	border: none;
	outline: none;
	cursor: pointer;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
}

#root {
	padding-top: 64px;
	display: flex;
	flex-direction: column;
	align-items: center;

	&>:not(:last-child) {
		margin-bottom: 32px;
	}
}

.header {
	.author {
		font-size: 1em;
		font-family: JetBrains Mono;
		text-align: end;
		color: #828698;

		a {
			color: #828698;
			// transition: .1s ease-in-out;

			&:hover {
				color: var(--hover-color);
				text-decoration: underline;
				text-decoration-thickness: 2px;
				text-decoration-skip-ink: none;
			}
		}
	}
}

.board {
	display: grid;
	grid-template-columns: repeat(3, 110.34px);
	width: 333px;
	aspect-ratio: 1/1;
	border: 1px solid var(--border-color);
	/* Simplified */
	border-radius: 12px;
	overflow: hidden;
	user-select: none;

	&>.cell {
		aspect-ratio: 1/1;
		width: 100%;
		height: 100%;
		position: relative;
		display: flex;
		font-size: 52px;
		font-weight: 100;
		font-family: Flamenco;
		overflow: hidden;
		color: var(--text-color);
		cursor: pointer;
		transition: 0.1s all;

		&:not(:nth-last-child(-n+3))::after {
			content: '';
			bottom: 0;
			position: absolute;
			z-index: 1;
			background-color: var(--border-color);
			inline-size: 100vw;
			block-size: 1px;
			inset-block-start: calc(1 * -1);
		}

		&:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(7))::before {
			content: '';
			left: 0;
			position: absolute;
			z-index: 1;
			background-color: var(--border-color);
			inline-size: 1px;
			block-size: 100vh;
		}

		span {
			line-height: 0;
			height: 0;
			width: 0;
			margin: auto;
			display: table;
		}
	}

	&.game-over>.cell:not(.winner) {
		color: rgba(255, 255, 255, 0.25) !important;
	}
}